.dashboard {
  width: 100%;
  height: 100%;
}

.appbar {
  height: 10%;
}

.main {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.series {
  width: 100%;
  height: fit-content;
  background: antiquewhite;
}
