.timeseries {
  width: 100%;
  height: inherit;
}

.expansion {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.expansion_panel {
  width: 30%;
}

.list {
  height: 300px;
  overflow-y: auto;
}

.listButton {
  width: 100% !important;
}

.bars {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bar {
  width: 450px;
  height: 250px;
}

.bar_active {
  width: 450px;
  height: 250px;
  background-color: #eff7ff;
  margin-bottom: 20px;
  border-radius: 10px;
}

.bar_confirmed {
  width: 450px;
  height: 250px;
  background-color: #ffe0e6;
  margin-bottom: 20px;
  border-radius: 10px;
}

.bar_recovered {
  width: 450px;
  height: 250px;
  background-color: #ccfdd7;
  margin-bottom: 20px;
  border-radius: 10px;
}

.bar_deceased {
  width: 450px;
  height: 250px;
  background-color: #f6f6f7;
  margin-bottom: 20px;
  border-radius: 10px;
}

.travel {
  height: inherit;
}
